@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--font-sans: 'Inter', sans-serif;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--box-shadow: 0px 0px 4px 0px #ffffff9e;
	}
}

@layer components {
	.modal_title {
		@apply text-center text-2xl/9 font-bold tracking-tight text-gray-900;
	}
	.modal_sub_title {
		@apply text-center text-base tracking-tight text-gray-900;
	}
}
body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}
